<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{ site.title }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }} | {{ site.affiliation }}">
    <meta property="og:url" content="{{ site.canonical }}{{ page.permalink }}">
    <meta property="og:site_name" content="{{ site.title }} | {{ site.affiliation }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:locale" content="default">
    <meta property="og:image" content="{{ site.avatar }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }} | {{ site.affiliation }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.avatar }}">

    <link rel="canonical" href="{{ site.canonical }}{{ page.permalink }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/Illinois/apple-icon-57x57.png">
    <link rel="icon" href="../assets/Illinois/favicon.ico">
    <link rel="manifest" href="../assets/Illinois/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/Illinois/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/pub.css">
    <link rel="stylesheet" href="../assets/css/nav.css">

    <!-- External Scripts -->
    <script src="../assets/js/github-stars.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/favicon-switcher.js" type="application/javascript"></script>
    <script src="../assets/js/vanilla-back-to-top.min.js"></script>
    
    <script>
      // Toggle Visibility
      function toggle_vis(id) {
          var e = document.getElementById(id);
          e.style.display = e.style.display === 'none' ? 'inline' : 'none';
      }

      // Toggle Mobile Navigation Menu
      function myFunction() {
        var x = document.getElementById('myLinks');
        x.style.display = x.style.display === 'inline' ? 'none' : 'inline';
      }

      // Reverse Links Order
      function reverseLinks() {
        var container = document.getElementById('myLinks');
        var links = Array.from(container.getElementsByTagName('a'));
        container.innerHTML = '';
        links.reverse().forEach(link => container.appendChild(link));
      }

      // Back to Top Button Initialization
      addBackToTop({
        backgroundColor: '#fff',
        innerHTML: 'Back to Top',
        textColor: '#333'
      });
    </script>

  </head>
  <body>
    
    <div class="topnav">
      <a href="{{ site.affiliation_link }}"><img width="120" src="../{{ site.affiliation_logo }}" alt="{{ site.affiliation }}"></a>
      
      <div id="myLinks">
        {% include navigation.md %}
      </div>

      <a href="javascript:void(0);" class="icon" onclick="myFunction();reverseLinks()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="wrapper">
      <section>
        {{ content }}
        <br>
        
        {% if site.enable_last_update %}
        <small>Last Update:
          <script>
            const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var modiDate = new Date(document.lastModified);
            document.write(modiDate.getDate() + '. ' + monthNames[modiDate.getMonth()] + ' ' + modiDate.getFullYear());
          </script>
        </small> 
        {% endif %}
        
        <br>
      </section>

      <footer>
        <div style="font: 12px/1.2 Crimson Pro, serif">
          <p>
            <small>
              {% if site.imprint %}
              <a href="{{ site.imprint }}" rel="noopener"><autocolor>Imprint / Impressum</autocolor></a><br>
              {% endif %}
              {% if site.data_protection %}
              <a href="{{ site.data_protection }}" rel="noopener"><autocolor>Data Protection / Datenschutzhinweis</autocolor></a>
              {% endif %}
            </small>
          </p>
        </div>
        <br>
      </footer>
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
